extends layout

block content
    .container
        h1 about us
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi fugit aspernatur eum vitae tempora cumque nulla! Odio sunt unde illo, aut, minus ex soluta earum, quas doloribus architecto aperiam accusantium?
        ul
            li shahriar
            li Hossan
            li 01872799210
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos natus adipisci cum similique dignissimos ut officiis vel excepturi, quis fugit fuga, maxime voluptas harum deleniti alias ex aut, architecto eveniet.
        