extends layout

block content
    .jumbotron
      .container
          h1 How may I Help you
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur rerum incidunt illo assumenda, aliquam delectus veritatis minima ipsam enim sunt quisquam excepturi saepe explicabo similique nisi tempore dolor porro?
          a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;
    .container
      .row
        .col-md-4
          h2 About Us
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis quis odit atque praesentium hic eligendi exercitationem officia incidunt, nemo laborum deleniti natus, ea sed, voluptatem eveniet voluptate facere harum quibusdam?
          a.btn.btn-defaut(href="#") View Details
        .col-md-4
          h2 Services
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis quis odit atque praesentium hic eligendi exercitationem officia incidunt, nemo laborum deleniti natus, ea sed, voluptatem eveniet voluptate facere harum quibusdam?
          a.btn.btn-defaut(href="#") View Details
        .col-md-4
          h2 Get in touch 
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis quis odit atque praesentium hic eligendi exercitationem officia incidunt, nemo laborum deleniti natus, ea sed, voluptatem eveniet voluptate facere harum quibusdam?
          a.btn.btn-defaut(href="#") View Details

